<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <appSettings>
      <add key="OpRoomDBConnectionString" value="EAAAAD5EL8uAbSpJ5oCt5m8U9iMDThH2/lcXl+Cf1X2vLQQvAXBcEn9kXB9/vH8IHfljsf0QLtA8sLhDwBYOTPnd8m0BxDfZY3ws+yqEDUR59mU3"/>
      <add key="HisPlusConnectionString" value="EAAAAHHdVps/Qp88ZN0WceTiiQT/yuqmbSlp2LwOTeHJI3CgUXOSVosz9AoorLDOSPSSygbDOE5BQ0eIkty5Gtw9DDh9F6C8EvNHQL8Y/K5OiO0D"/>
    </appSettings>  
    <connectionStrings>
        <add name="HISPlus.Properties.Settings.OproomConnectionString" connectionString="Data Source=.;Initial Catalog=Oproom;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
